<ul class="list-group sticky-top">
  <li class="list-group-item"><a href="#">Lorem, ipsum.</a></li>
  <li class="list-group-item"><a href="#">Beatae, voluptatum?</a></li>
  <li class="list-group-item"><a href="#">Nostrum, commodi!</a></li>
  <li class="list-group-item"><a href="#">Numquam, sit?</a></li>
  <li class="list-group-item"><a href="#">Voluptate, quibusdam.</a></li>
  <li class="list-group-item"><a href="#">In, veniam.</a></li>
  <li class="list-group-item"><a href="#">Nisi, non.</a></li>
  <li class="list-group-item"><a href="#">Possimus, dolore.</a></li>
  <li class="list-group-item"><a href="#">Ipsam, quam!</a></li>
  <li class="list-group-item"><a href="#">Possimus, exercitationem!</a></li>
  <li class="list-group-item"><a href="#">Nemo, minus.</a></li>
  <li class="list-group-item"><a href="#">Quos, illum!</a></li>
  <li class="list-group-item"><a href="#">Deleniti, rem!</a></li>
  <li class="list-group-item"><a href="#">Quibusdam, suscipit.</a></li>
  <li class="list-group-item"><a href="#">Reprehenderit, in.</a></li>
</ul>